* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
}

.MainContent {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.Main {
  display: flex;
  flex-flow: column;
  height: 855px;
  width: 1030px;
}

.Background {
  display: flex;
  flex-flow: column;
  justify-content: center;
  width: 1029px;
  height: 540px;
  background-image: url("img/2people.jpg");
  background-size: 1440px 1315px;
  background-position: 50% 100%;
  padding: 0;
}

.Part1 {
  display: flex;
  justify-content: center;
  height: 88px;
}

.Part2 {
  display: flex;
  justify-content: center;
  height: 38px;
}

.MenuBar {
  display: inline-block;
  width: 980px;
  height: 38px;
  border-radius: 4px;
  background: linear-gradient(to bottom, rgb(138, 138, 138), rgb(95, 95, 95), rgb(138, 138, 138));
  box-shadow: rgb(255, 255, 255, 0.298);
}

ul a {
  color: rgb(219, 219, 219);
  display: block;
  padding: 0 25px;
  font-weight: 100;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 12px;
  line-height: 30px;
  width: 100px;
}

ul li a {
  text-decoration: none;
}

li {
  border-right: 1px solid rgb(87, 87, 87);
}

ul li {
  list-style-type: none;
  display: inline-block;
}

.liSearch {
  text-decoration: none;
  list-style-type: none;
  border-right: none;
}

.inputSearch {
  width: 100px;
  height: 20px;
  border-radius: 15px;
  background-image: url("img/search.png");
  background-position: left;
  background-position-x: 5px;
  background-size: 12px;
  background-repeat: no-repeat;
  border: 2px solid rgb(87, 87, 87);
}

.appleLogo {
  margin-left: 10px;
  margin-bottom: -4px;
  width: 15px;
}

.Part3 {
  display: flex;
  justify-content: center;
  height: 29px;
}

.Part4 {
  display: flex;
  justify-content: center;
  height: 97px;
  font-size: 50px;
  font-family: 'Courier New', Courier, monospace;
}

.Part5 {
  display: flex;
  justify-content: center;
  height: 8px;
}

.Part6 {
  display: flex;
  justify-content: center;
  height: 75px;
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
}

.Every {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 850px;
}

.Part7 {
  display: flex;
  justify-content: center;
  height: 28px;
}

.Part8 {
  display: flex;
  justify-content: center;
  height: 32px;
  font-size: 22px;
  font-family: 'Courier New', Courier, monospace;
}

.Part9 {
  display: flex;
  justify-content: center;
  height: 51px;
}

.Part10 {
  display: flex;
  justify-content: center;
  height: 94px;
}

.Part11 {
  display: flex;
  justify-content: center;
  height: 203px;
  width: 1030px;
}

.imgContent {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  width: 1030px;
}

.iPhone5s {
  background-image: url("img/5s.jpg");
  width: 260px;
  height: 203px;
  background-position: 50% 100%;
  background-repeat: no-repeat;
  margin-right: 2px;
}

.iPhone5c {
  background-image: url("img/5c.jpg");
  background-repeat: no-repeat;
  width: 260px;
  height: 203px;
  background-position: 50% 100%;
  margin-right: 2px;
}

.Happy {
  background-image: url("img/Happy.jpg");
  background-repeat: no-repeat;
  width: 260px;
  height: 203px;
  background-position: 50% 100%;
  margin-right: 2px;
}

.Supplier {
  background-image: url("img/supplier.jpg");
  background-repeat: no-repeat;
  width: 260px;
  height: 203px;
  background-position: 50% 100%;
}

.Part12 {
  display: flex;
  justify-content: center;
  height: 12px;
}

.Part13 {
  display: flex;
  justify-content: center;
  height: 29px;
}

.Part14 {
  display: flex;
  justify-content: space-between;
  height: 31px;
  color: slategrey;
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Shop {
  display: flex;
  width: 485px;
  color: rgb(152, 152, 152);
}

.aFooter {
  color: rgb(68, 161, 212);
  text-decoration: none;
}

.Site {
  display: flex;
  width: 500px;
  color: rgb(152, 152, 152);
}

.SiteBlue {
  color: rgb(68, 161, 212);
  text-decoration: none;
  padding-right: 5px;
  margin-left: 5px;
  font-size: 10px;
  height: 12px;
  border-right: 1px solid rgb(204, 204, 204);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.SiteBlueLast {
  color: rgb(68, 161, 212);
  text-decoration: none;
  padding-right: 5px;
  margin-left: 5px;
  font-size: 10px;
  height: 12px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.imgUsa {
  width: 15px;
}

.Part15 {
  display: flex;
  justify-content: center;
  height: 15px;
}

.Part16 {
  display: flex;
  justify-content: flex-start;
  height: 32px;
  color: rgb(152, 152, 152);
  font-size: 10px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Part17 {
  display: flex;
  justify-content: center;
  height: 58px;
}
